body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
}

.container, .admin-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #ff5722;
}

input, textarea, button {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #fff;
}

button {
    background-color: #ff5722;
    cursor: pointer;
}

button:hover {
    background-color: #ff3d00;
}
